html, body {
    height: 100%;
}
body {
    background-color: #fff;
    font-family: Lucida,Verdana,sans-serif;
    margin: 0;
    overflow: hidden;
}

.header {
    background-color: #008184;
    color: #ffffff;
    padding: 5px;
    height: auto;
    grid-area: header;
}

.header p {
    font-size: 15px;
    margin: 5px;
}


/* Tabs */
#tabRow>td {
    border: 1px solid #bcac99;
}
td.tabon {
    border-bottom-color: #bcac99 !important;
    background-color: #bcac99;
    color: white;
    padding: 5px 19px;
}
td.taboff {
    cursor: pointer;
    padding: 5px 19px;
}
td.taboff:hover {
    background-color: #bcac99;
    color: white;
}
td.tabmin {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}
td.tabmax {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 99%;
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
}
td {
    padding: 0;
    vertical-align: top;
}
.content {
    visibility: hidden;
    margin: 0;
    direction: ltr;
}
pre.content {
    overflow: scroll;
}
#content_blocks {
    padding: 0;
}
.blocklySvg {
    border-top: none !important;
}
#content_xml {
    resize: none;
    outline: none;
    border: none;
    font-family: monospace;
    overflow: scroll;
}
button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #e67e22;
    color: white;
}
button.launch {
    border: 1px solid #d43;
    background-color: #d43;
    color: white;
}
button:active {
    border: 1px solid blue !important;
}
button:hover {
    box-shadow: 2px 2px 5px #888;
}


/* Pomodoro */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    font-size:x-large;
    text-align: center;
    display: none;
}

.popup p {
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}

/* Style the timer */
.timer {
    position: fixed;
    top: 0;
    left: 40px;
    padding: 10px;
    background-color: rgb(156, 251, 162);
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.focustime {
    display: inline-block;
    position: fixed;
    width: 50%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: aqua;
    color:black;
    font-size: 18px;
}
.pausetime {
    display: inline-block;
    position: fixed;
    width: 50%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: aqua;
    color:black;
    font-size: 18px;
}