.DS_store
._*
Thumbs.db
Desktop.ini

# Project files
ino_project

# Closure library needed for uncompressed development
/closure-library
/closure-library-read-only

# Python byte-compiled / optimized
__pycache__/
*.py[cod]
